.app__projects {
  width: 50vw;
  margin: 0 auto;
}

.app__text-align-self-right {
  align-self: flex-end;
}

.app__mgb4rem {
  margin-bottom: 4rem;
}

.app__projects-in {
  display: flex;
  flex-direction: column;
}

.carousel-cont {
  height: 400px;
  width: 900px;
}
