.app__projects {
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 100vh;

  @media screen and (max-width: 1200px) {
    max-width: 70vw;
  }

  @media screen and (max-width: 700px) {
    max-width: 80vw;
  }
}

.app__text-align-self-right {
  align-self: flex-end;
}

.app__mgb4rem {
  margin-bottom: 4rem;
}

.app__projects-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-cont {
  height: 400px;
  width: 900px;
}

.carousel-card__catption {
  background-color: rgba(0, 0, 0, 0.3);

  h3 {
    display: inline;

    @media screen and (max-width: 470px) {
      font-size: 180%;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 1rem;
    right: 1rem;
    margin-left: auto;

    @media screen and (max-width: 470px) {
      font-size: 18px;
    }
  }

  .carousel-card__fixed {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
  }

  @media screen and (max-width: 470px) {
    font-size: 70%;
  }
}

.app__border-radius-5 {
  border-radius: 10px;
}
